body {
    background-color: #0D1117; /* Azul escuro quase preto */
    color: #C9D1D9; /* Cor clara para texto */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    margin-top: 30px
}

.container {
    text-align: center;
    border: 2px solid #8E2029;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

h1 {
    color: #8E2029; /* Vermelho coral */
    font-weight: bold;
    text-transform: uppercase;
}

.pomodoro-timer {
    margin-bottom: 20px;
}

button {
    background-color: #8E2029; /* Verde mais suave */
    color: white;
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #121212; /* Tom mais claro ao passar o mouse */
}

select {
    background-color: #161B22;
    color: #C9D1D9;
    border: 2px solid #121212;
    padding: 5px;
    border-radius: 5px;
}

#timer {
    font-size: 500%; /* Aumenta o tamanho do timer em 200% */
    font-weight: bold; /* Deixa o texto em negrito */
}

.chart-container {
    margin-top: 20px;
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.photo-gallery img {
    width: 130px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #8E2029;
    border-radius: 15px
    
}
